<% content_for :title do %>
  The Journey
<% end %>

<div class="container">
    
    <div class="quote text-center">
        <h3 class="thin">
            "If the mind can concieve and believe, the mind can achieve" 
            <small><em>Napoleon Hill</em></small>
        </h3>
    </div>    
    
    <div class="jumbotron">
        <h1 class="thin">My WHY</h1>
        <p>
            <!--To have an impact on the world greater than myself that touches 
            people from all backgrounds-->
            To have an ever growing circle of influence that impacts society in 
            a positive manner which is greater than the sum of its parts
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
    
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h3>Recent Posts</h3>
            <div class="post">
                <% @posts.each do |post| %>
                    <div class="post-title"></div>
                    <h3>
                        <%= link_to post.title.titleize, post_path(post.id) %>
                        <% if current_user.try(:admin?) %>
                            <%= link_to 'Edit', edit_post_path(post.id), 
                                                class: "btn btn-xs btn-info" %>
                        <% end %>
                    </h3>
                    <p><%= truncate(simple_format(post.content.html_safe), length: 150, escape: false) %></p>
                    
                    <p class="muted">
                        <small>
                            <%= time_ago_in_words(post.created_at) %> ago<br />
                            <% if post.comments.any? %>
                               <i class="fa fa-comments-o" aria-hidden="true"> 
                               <%= post.comments.count %></i>
                            <% end %>
                        </small>
                    </p>
                    <hr>
                <% end %>
            </div>    
        </div>
        <div class="col-md-6">
            <h3>Most Commented Posts</h3>
            <div class="post">
                <% @comments.each do |post| %>
                    <div class="post-title"></div>
                    <h3>
                        <%= link_to post.title.titleize, post_path(post.id) %>
                        <% if current_user.try(:admin?) %>
                            <%= link_to 'Edit', edit_post_path(post.id), 
                                                class: "btn btn-xs btn-info" %>
                        <% end %>
                    </h3>
                    <p><%= truncate(simple_format(post.content.html_safe), length: 150, escape: false) %></p>
                    
                    <p class="muted">
                        <small>
                            <%= time_ago_in_words(post.created_at) %> ago<br />
                            <% if post.comments.any? %>
                               <i class="fa fa-comments-o" aria-hidden="true"> 
                               <%= post.comments.count %></i>
                            <% end %>
                        </small>
                    </p>
                    <hr>
                <% end %>
            </div>    
        </div>
    </div>    
</div>