<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Eluding Success</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Link1", "/path1"  %></li>
        <li><%= link_to "Link2", "/path2"  %></li>
        <li><%= link_to "Link3", "/path3"  %></li>
      </ul>
      <% if current_user %>                                       
        <ul class="nav navbar-right navbar-btn">
          <li>
            <%= link_to('Logout', destroy_user_session_path,
                                  class: 'btn btn-danger',
                                  title: 'Logout',
                                  :method => :delete) %>
          </li>                        
        </ul>
        <ul class="nav navbar-right navbar-btn user-name">
          <li>
            <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.first_name, length: 25)).html_safe, 
                                                edit_user_registration_path, 
                                                title: 'Edit Profile' %>
          </li>                                      
        </ul> 
      <% else %>
        <ul class="nav navbar-right navbar-btn">
          <li>
            <%= link_to('Sign In', new_user_session_path,
                                    class: 'btn btn-primary',
                                    title: 'Sign In') %>
          </li>                          
        </ul>
      <% end %>
    </div>
  </div>
</div>